<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title><%= title %> | Topheman APIs Proxy</title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="./favicon.ico" type="image/gif">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>