<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title><%= title %> | Topheman APIs Proxy</title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="./favicon.ico" type="image/gif">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <span id="forkongithub"><a href="https://github.com/topheman/topheman-apis-proxy">Fork me on GitHub</a></span>
    <header>
      <h1>
        <a href="/" title="Home">topheman-apis-proxy</a>
      </h1>
    </header>
    <div class="view">
      <%- body %>
    </div>
    <footer>
      ©2015 <a href="http://labs.topheman.com">labs.topheman.com</a> - Christophe Rosset
    </footer>
  </body>
</html>