<p>
  Welcome to this twitter proxy. You have access to the whole REST public APIs provided via GET requests under application authentication as specified <a href="https://dev.twitter.com/rest/public" title="Twitter's public REST API">here</a>.
</p>
<p>
  Example of requests :
</p>
<ul>
  <li><a href="/twitter/users/show?screen_name=topheman" rel="nofollow">/twitter/users/show?screen_name=topheman</a></li>
</ul>